@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'), url(https://fonts.gstatic.com/s/alegreyasans/v5/KYNzioYhDai7mTMnx_gDgsmBRJoLbs7X6hY7yFEc97Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Sans Italic'), local('AlegreyaSans-Italic'), url(https://fonts.gstatic.com/s/alegreyasans/v5/TKyx_-JJ6MdpQruNk-t-PPOSZGZVnZh1qFL4FBVulds.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'), url(https://fonts.gstatic.com/s/alegreyasans/v5/11EDm-lum6tskJMBbdy9acrysgx4XYXiGyd0rEkyLBs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya Sans Bold Italic'), local('AlegreyaSans-BoldItalic'), url(https://fonts.gstatic.com/s/alegreyasans/v5/WfiXipsmjqRqsDBQ1bA9CsYBCjQycNOg465W8lWeYjs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK6Ucnt8gjcHpqyffjHeZWDA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(https://fonts.gstatic.com/s/librebaskerville/v4/kH7K4InNTm7mmOXXjrA5v6y7YSlLHrWsjpD3RcrnyFM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v2/ElUAY9q6T0Ayx4zWzW63VFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Work Sans Bold'), local('WorkSans-Bold'), url(https://fonts.gstatic.com/s/worksans/v2/4udXuXg54JlPEP5iKO5Amegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html, body {
  font-size: 16px;
  font-family: 'Work Sans';
}

/* Header Section */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  font-size: 1.5rem;

  border: 1px solid black;
}

.logo {
  display: flex;
  flex-grow: 1;
  margin-left: 24px;
  font-size: 1.75rem;

  border: 1px solid red;
}

.logo h2 {
  //font-family: 'Work Sans';
}

.logo span {
  color: red;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 24px;
  height: 32px;

  border: 1px solid blue;
}

.nav-icon {
  display: none;
}

nav li {
  display: inline;
  margin-right: 16px;
}

nav li:last-child{
  margin-right: 0;
}

/* Main Section */
main {
  border: 2px solid #737373;
}

/* banner */
.banner {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #c0c0c0;
}

.banner-image {
  width: 60%;
  overflow: hidden;
  margin: 32px 24px;
}
.banner-image img {
  width: 100%;
  height: auto;
  display: block;
}

.banner-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
}

.banner-text {
  text-align: left;
  //font-family: 'Alegreya Sans';
  margin-bottom: 32px;
}
.banner-text h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.banner-text p {
  font-size: 2rem;
}

.banner-button {
  background-color: #595959;
  width: 70%;
  padding: 8px;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

/* school-info*/
.school-info {
  display: flex;

}

.info-left-column {
  display: flex;
  flex-direction: column;
  width: 60%;
  overflow: hidden;
  padding: 32px 24px;
  border-right: 1px solid black;
}

.info-left-column img {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 32px;
}

.info-left-column h2 {
  font-size: 2.75rem;
  font-weight: bold;
  padding-bottom: 24px;
}

.info-left-column .quote {
  font-size: 1.75rem;
  font-family: 'Alegreya Sans';
  font-style: italic;
  padding-bottom: 32px;
}

.info-left-column p {
  font-size: 1.5rem;
  font-family: 'Alegreya Sans'
}

.info-right-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 32px 16px;
}

/* breakpoint control */
@media only screen and (max-width: 1024px) {
  .logo {
    font-size: 1.5rem;
  }
  nav {
    font-size: 1rem;
  }
  .banner-text h1 {
    font-size: 3rem;
  }
  .banner-text p {
    font-size: 1.5rem;
  }
}

/* mobile friendly css */
@media only screen and (max-width: 480px) {
  .logo {
    flex-grow: 0;
    padding-right: 1rem;
  }

  .logo h2 {
    display: none;
  }

  .nav-icon {
    display: inline;
  }

  .nav-text {
    display: none;
  }
}
